body {
  margin:0px;
  background-color:rgba(216, 229, 213, 1);
  background-image:none;
  position:relative;
  left:-22px;
  width:3000px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:725px;
  height:65px;
  background:inherit;
  background-color:rgba(245, 251, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 200px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 200px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 200px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:244px;
  width:725px;
  height:65px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u193 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u194_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:1971px;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:1348px;
  top:309px;
  width:2px;
  height:1968px;
  display:flex;
}
#u194 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u195_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:1971px;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:309px;
  width:2px;
  height:1968px;
  display:flex;
}
#u195 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:43px;
  width:264px;
  height:26px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u196 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u196_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:97px;
  width:132px;
  height:26px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u197 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u197_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:162px;
  width:128px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u198 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u198_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1168px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:162px;
  width:1168px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u199 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u199_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u200_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:3003px;
  height:5px;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:215px;
  width:3000px;
  height:2px;
  display:flex;
}
#u200 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u201_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1453px;
  height:5px;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:2275px;
  width:1450px;
  height:2px;
  display:flex;
}
#u201 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(245, 251, 238, 1);
  border:none;
  border-radius:40px;
  -moz-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:948px;
  top:326px;
  width:80px;
  height:80px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u202 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:51px;
  background:inherit;
  background-color:rgba(245, 251, 238, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:557px;
  width:124px;
  height:51px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u203 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:725px;
  height:65px;
  background:inherit;
  background-color:rgba(245, 251, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 200px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 200px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 200px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:1350px;
  top:244px;
  width:725px;
  height:65px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u204 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u204_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u205_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:1971px;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:2073px;
  top:309px;
  width:2px;
  height:1968px;
  display:flex;
}
#u205 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u205_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u206_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:140px;
  height:78px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:658px;
  width:124px;
  height:62px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u206 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:988px;
  top:507px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u207_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u207_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u207_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:37px;
  width:18px;
  height:19px;
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:51px;
  background:inherit;
  background-color:rgba(245, 251, 238, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:770px;
  width:124px;
  height:51px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u208 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u208_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:988px;
  top:608px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u209_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u209_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u209_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:37px;
  width:18px;
  height:19px;
}
#u209_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:988px;
  top:720px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u210_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u210_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u210_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:37px;
  width:18px;
  height:19px;
}
#u210_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:51px;
  background:inherit;
  background-color:rgba(245, 251, 238, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:865px;
  width:124px;
  height:51px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u211 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:51px;
  background:inherit;
  background-color:rgba(245, 251, 238, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:1651px;
  top:971px;
  width:124px;
  height:51px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u212 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:988px;
  top:916px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u213_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u213_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u213_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:37px;
  width:18px;
  height:19px;
}
#u213_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u214_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:140px;
  height:78px;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:966px;
  width:124px;
  height:62px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u214 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u214_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:51px;
  background:inherit;
  background-color:rgba(245, 251, 238, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:734px;
  top:865px;
  width:124px;
  height:51px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u215 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u215_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:997px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u216_seg0 {
  border-width:0px;
  position:absolute;
  left:-135px;
  top:-5px;
  width:135px;
  height:10px;
}
#u216_seg1 {
  border-width:0px;
  position:absolute;
  left:-135px;
  top:-81px;
  width:10px;
  height:86px;
}
#u216_seg2 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-9px;
  width:18px;
  height:18px;
}
#u216_seg3 {
  border-width:0px;
  position:absolute;
  left:-139px;
  top:-87px;
  width:18px;
  height:19px;
}
#u216_text {
  border-width:0px;
  position:absolute;
  left:-156px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:891px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u217_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:73px;
  height:10px;
}
#u217_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u217_seg2 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-9px;
  width:19px;
  height:18px;
}
#u217_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:997px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u218_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:606px;
  height:10px;
}
#u218_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u218_seg2 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:-9px;
  width:19px;
  height:18px;
}
#u218_text {
  border-width:0px;
  position:absolute;
  left:250px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:51px;
  background:inherit;
  background-color:rgba(245, 251, 238, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:1651px;
  top:1072px;
  width:124px;
  height:51px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u219 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u219_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:1713px;
  top:1123px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u220_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u220_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u220_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:37px;
  width:18px;
  height:19px;
}
#u220_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:51px;
  background:inherit;
  background-color:rgba(245, 251, 238, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:1651px;
  top:1279px;
  width:124px;
  height:51px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u221 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u221_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:1713px;
  top:1224px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u222_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:60px;
}
#u222_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u222_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:42px;
  width:18px;
  height:19px;
}
#u222_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u223_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:140px;
  height:78px;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:1274px;
  width:124px;
  height:62px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u223 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u223_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:51px;
  background:inherit;
  background-color:rgba(245, 251, 238, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:1651px;
  top:1380px;
  width:124px;
  height:51px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u224 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u224_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:51px;
  background:inherit;
  background-color:rgba(245, 251, 238, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:1651px;
  top:1481px;
  width:124px;
  height:51px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u225 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u225_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(245, 251, 238, 1);
  border:none;
  border-radius:40px;
  -moz-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:1673px;
  top:1687px;
  width:80px;
  height:80px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u226 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u226_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:1651px;
  top:1305px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u227_seg0 {
  border-width:0px;
  position:absolute;
  left:-601px;
  top:-5px;
  width:606px;
  height:10px;
}
#u227_seg1 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-9px;
  width:18px;
  height:18px;
}
#u227_seg2 {
  border-width:0px;
  position:absolute;
  left:-607px;
  top:-9px;
  width:19px;
  height:18px;
}
#u227_text {
  border-width:0px;
  position:absolute;
  left:-350px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:988px;
  top:1336px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u228_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:75px;
}
#u228_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:65px;
  width:668px;
  height:10px;
}
#u228_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u228_seg3 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:61px;
  width:19px;
  height:18px;
}
#u228_text {
  border-width:0px;
  position:absolute;
  left:246px;
  top:64px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:1713px;
  top:1431px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u229_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u229_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u229_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:37px;
  width:18px;
  height:19px;
}
#u229_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:988px;
  top:1336px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u230_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:23px;
}
#u230_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:13px;
  width:428px;
  height:10px;
}
#u230_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u230_seg3 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:9px;
  width:19px;
  height:18px;
}
#u230_text {
  border-width:0px;
  position:absolute;
  left:152px;
  top:12px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:51px;
  background:inherit;
  background-color:rgba(245, 251, 238, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:1411px;
  top:1328px;
  width:124px;
  height:51px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u231 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u231_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:1535px;
  top:1354px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u232_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:183px;
  height:10px;
}
#u232_seg1 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:-24px;
  width:10px;
  height:29px;
}
#u232_seg2 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u232_seg3 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:-30px;
  width:18px;
  height:19px;
}
#u232_text {
  border-width:0px;
  position:absolute;
  left:51px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:51px;
  background:inherit;
  background-color:rgba(245, 251, 238, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:1651px;
  top:1173px;
  width:124px;
  height:51px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u233 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u233_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:1713px;
  top:1022px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u234_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u234_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u234_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:37px;
  width:18px;
  height:19px;
}
#u234_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:51px;
  background:inherit;
  background-color:rgba(245, 251, 238, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:456px;
  width:124px;
  height:51px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u235 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u235_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:988px;
  top:406px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u236_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u236_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u236_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:37px;
  width:18px;
  height:19px;
}
#u236_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:51px;
  background:inherit;
  background-color:rgba(245, 251, 238, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:1651px;
  top:1582px;
  width:124px;
  height:51px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u237 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u237_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:1713px;
  top:1532px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u238_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u238_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u238_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:37px;
  width:18px;
  height:19px;
}
#u238_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:1713px;
  top:1633px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u239_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:59px;
}
#u239_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u239_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:41px;
  width:18px;
  height:19px;
}
#u239_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:988px;
  top:821px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u240_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:49px;
}
#u240_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u240_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:19px;
}
#u240_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
