body {
  margin:0px;
  background-color:rgba(216, 229, 213, 1);
  background-image:none;
  position:relative;
  left:-22px;
  width:3000px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u277_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:725px;
  height:65px;
  background:inherit;
  background-color:rgba(245, 251, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 200px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 200px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 200px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u277 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:244px;
  width:725px;
  height:65px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u277 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u277_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u278_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:1850px;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:1348px;
  top:309px;
  width:2px;
  height:1847px;
  display:flex;
}
#u278 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u278_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u279_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:1850px;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:309px;
  width:2px;
  height:1847px;
  display:flex;
}
#u279 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u279_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:43px;
  width:264px;
  height:26px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u280 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u280_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u281 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:97px;
  width:132px;
  height:26px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u281 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u281_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u282 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:162px;
  width:128px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u282 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u282_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1168px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u283 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:162px;
  width:1168px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u283 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u283_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u284_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:3003px;
  height:5px;
}
#u284 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:215px;
  width:3000px;
  height:2px;
  display:flex;
}
#u284 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u285_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1453px;
  height:5px;
}
#u285 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:2154px;
  width:1450px;
  height:2px;
  display:flex;
}
#u285 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u285_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(245, 251, 238, 1);
  border:none;
  border-radius:40px;
  -moz-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u286 {
  border-width:0px;
  position:absolute;
  left:948px;
  top:326px;
  width:80px;
  height:80px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u286 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u286_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:725px;
  height:65px;
  background:inherit;
  background-color:rgba(245, 251, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 200px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 200px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 200px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u287 {
  border-width:0px;
  position:absolute;
  left:1350px;
  top:244px;
  width:725px;
  height:65px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u287 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u287_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u288_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:1850px;
}
#u288 {
  border-width:0px;
  position:absolute;
  left:2073px;
  top:309px;
  width:2px;
  height:1847px;
  display:flex;
}
#u288 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:51px;
  background:inherit;
  background-color:rgba(245, 251, 238, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u289 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:466px;
  width:124px;
  height:51px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u289 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u289_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:51px;
  background:inherit;
  background-color:rgba(245, 251, 238, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u290 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:577px;
  width:124px;
  height:51px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u290 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u290_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:51px;
  background:inherit;
  background-color:rgba(245, 251, 238, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u291 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:688px;
  width:124px;
  height:51px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u291 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u291_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:51px;
  background:inherit;
  background-color:rgba(245, 251, 238, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u292 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:799px;
  width:124px;
  height:51px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u292 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u292_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u293_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:140px;
  height:78px;
}
#u293 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:910px;
  width:124px;
  height:62px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u293 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u293_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u294_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:51px;
  background:inherit;
  background-color:rgba(245, 251, 238, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u294 {
  border-width:0px;
  position:absolute;
  left:1651px;
  top:916px;
  width:124px;
  height:51px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u294 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u294_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u295_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:140px;
  height:78px;
}
#u295 {
  border-width:0px;
  position:absolute;
  left:1651px;
  top:1027px;
  width:124px;
  height:62px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u295 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u295_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u296_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:51px;
  background:inherit;
  background-color:rgba(245, 251, 238, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u296 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:1033px;
  width:124px;
  height:51px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u296 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u296_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u297_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:51px;
  background:inherit;
  background-color:rgba(245, 251, 238, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u297 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:1144px;
  width:124px;
  height:51px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u297 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u297_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u298_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(245, 251, 238, 1);
  border:none;
  border-radius:40px;
  -moz-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u298 {
  border-width:0px;
  position:absolute;
  left:948px;
  top:1255px;
  width:80px;
  height:80px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u298 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u298_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u299 {
  border-width:0px;
  position:absolute;
  left:988px;
  top:406px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u299_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:65px;
}
#u299_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u299_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:47px;
  width:18px;
  height:19px;
}
#u299_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u300 {
  border-width:0px;
  position:absolute;
  left:988px;
  top:517px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u300_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:65px;
}
#u300_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u300_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:47px;
  width:18px;
  height:19px;
}
#u300_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u301 {
  border-width:0px;
  position:absolute;
  left:988px;
  top:628px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u301_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:65px;
}
#u301_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u301_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:47px;
  width:18px;
  height:19px;
}
#u301_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u302 {
  border-width:0px;
  position:absolute;
  left:988px;
  top:739px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u302_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:65px;
}
#u302_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u302_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:47px;
  width:18px;
  height:19px;
}
#u302_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u303 {
  border-width:0px;
  position:absolute;
  left:988px;
  top:850px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u303_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:65px;
}
#u303_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u303_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:47px;
  width:18px;
  height:19px;
}
#u303_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u304 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:941px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u304_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:305px;
  height:10px;
}
#u304_seg1 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:-5px;
  width:10px;
  height:11px;
}
#u304_seg2 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:-4px;
  width:306px;
  height:10px;
}
#u304_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u304_seg4 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:-8px;
  width:19px;
  height:18px;
}
#u304_text {
  border-width:0px;
  position:absolute;
  left:250px;
  top:-5px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u305 {
  border-width:0px;
  position:absolute;
  left:1713px;
  top:967px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u305_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:65px;
}
#u305_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u305_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:47px;
  width:18px;
  height:19px;
}
#u305_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u306 {
  border-width:0px;
  position:absolute;
  left:1651px;
  top:1058px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u306_seg0 {
  border-width:0px;
  position:absolute;
  left:-296px;
  top:-5px;
  width:296px;
  height:10px;
}
#u306_seg1 {
  border-width:0px;
  position:absolute;
  left:-296px;
  top:-5px;
  width:10px;
  height:11px;
}
#u306_seg2 {
  border-width:0px;
  position:absolute;
  left:-601px;
  top:-4px;
  width:315px;
  height:10px;
}
#u306_seg3 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-9px;
  width:18px;
  height:18px;
}
#u306_seg4 {
  border-width:0px;
  position:absolute;
  left:-607px;
  top:-8px;
  width:19px;
  height:18px;
}
#u306_text {
  border-width:0px;
  position:absolute;
  left:-350px;
  top:-5px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u307 {
  border-width:0px;
  position:absolute;
  left:1713px;
  top:1089px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u307_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:86px;
}
#u307_seg1 {
  border-width:0px;
  position:absolute;
  left:-663px;
  top:76px;
  width:668px;
  height:10px;
}
#u307_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u307_seg3 {
  border-width:0px;
  position:absolute;
  left:-669px;
  top:72px;
  width:19px;
  height:18px;
}
#u307_text {
  border-width:0px;
  position:absolute;
  left:-341px;
  top:75px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u308 {
  border-width:0px;
  position:absolute;
  left:988px;
  top:1195px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u308_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:65px;
}
#u308_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u308_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:47px;
  width:18px;
  height:19px;
}
#u308_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u309 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:941px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u309_seg0 {
  border-width:0px;
  position:absolute;
  left:-150px;
  top:-5px;
  width:150px;
  height:10px;
}
#u309_seg1 {
  border-width:0px;
  position:absolute;
  left:-150px;
  top:-91px;
  width:10px;
  height:96px;
}
#u309_seg2 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-9px;
  width:18px;
  height:18px;
}
#u309_seg3 {
  border-width:0px;
  position:absolute;
  left:-154px;
  top:-97px;
  width:18px;
  height:19px;
}
#u309_text {
  border-width:0px;
  position:absolute;
  left:-168px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u310_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:51px;
  background:inherit;
  background-color:rgba(245, 251, 238, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:6px 6px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u310 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:799px;
  width:124px;
  height:51px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u310 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u310_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u311 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:825px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u311_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:88px;
  height:10px;
}
#u311_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u311_seg2 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-9px;
  width:19px;
  height:18px;
}
#u311_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
